![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Cleaning the Expanded Immobilien Scout 24 Dataset

--- 
After exploring the original dataset and trying to build a predictive model with it, it was discovered that we need more data. Unfortunately we lost access to Immobilien Scout's API so we had to scrape the data. While this worked, the data is quite messy and needs to be cleaned before we can use it. In this exercise you'll clean the remaining of the data.

In [32]:
import numpy as np
import pandas as pd
# import plotly.express as px

In [33]:
# Read in dataset
df = pd.read_pickle("berlin_housing_with_scraped_class_cleaned.pkl")

In [34]:
df.head()

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
0,https://www.immobilienscout24.de/expose/116051687,Mitte,first_time_use,4.0,2659.00,2019,117.20,2.200000,+460€,in,...,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B,7977.00,5
1,https://www.immobilienscout24.de/expose/115338103,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,973.510000,"+226,49€",in,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN,2920.53,5
2,https://www.immobilienscout24.de/expose/116458710,Köpenick,well_kept,2.0,979.00,1997,83.61,799.000000,+90€,+90€,...,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN,2937.00,4
3,https://www.immobilienscout24.de/expose/116573177,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,428.261712,NaN,NaN,...,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5490.66,13
4,https://www.immobilienscout24.de/expose/115925878,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,531.635875,NaN,NaN,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt zur Besichtigun...,liegt zur Besichtigung vor,NaN,NaN,NaN,6816.00,8

In [35]:
df.shape

(764, 23)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  764 non-null    object
 1   region               764 non-null    object
 2   condition            764 non-null    object
 3   rooms                764 non-null    float64
 4   rent                 764 non-null    float64
 5   year_construction    764 non-null    int64
 6   space                764 non-null    float64
 7   cold_rent            764 non-null    float64
 8   utilities            426 non-null    object
 9   heating_costs        426 non-null    object
 10  security_deposit     764 non-null    object
 11  parking_space        90 non-null     object
 12  renovated_date       195 non-null    float64
 13  property_condition   764 non-null    object
 14  furnishing           445 non-null    object
 15  heating_type         515 non-null    object
 16  energy_sources       494 non-null    object
 17  energy_certificate   451 non-null    object
 18  type_of_certificate  467 non-null    object
 19  energy_requirement   326 non-null    object
 20  efficiency_class     251 non-null    object
 21  deposit_cleaned      764 non-null    float64
 22  n_missing            764 non-null    int64
dtypes: float64(6), int64(2), object(15)
memory usage: 137.4+ KB

## 0. Before cleaning, print out how many missing values (sorted for readability) each column has:

In [37]:
## code here
df.isna().sum().sort_values(ascending=False)

parking_space          674
renovated_date         569
efficiency_class       513
energy_requirement     438
heating_costs          338
utilities              338
furnishing             319
energy_certificate     313
type_of_certificate    297
energy_sources         270
heating_type           249
year_construction        0
region                   0
condition                0
rooms                    0
rent                     0
n_missing                0
space                    0
cold_rent                0
security_deposit         0
deposit_cleaned          0
property_condition       0
url                      0
dtype: int64

## 1. Clean: `heating_type`

Please explain why you choose your strategy for filling the missing values.

In [38]:
## code here
df['heating_type'].value_counts()

Central Heating        201
District Heating       149
Underfloor Heating     127
Floor Heating           24
Gas Heating             10
Wood Pellet Heating      2
CHP Plants               2
Name: heating_type, dtype: int64

In [39]:
df['heating_type'].isna().sum() / len(df)

0.32591623036649214

In [40]:
# Method 1:
df['heating_type'].fillna("Missing").value_counts()

Missing                249
Central Heating        201
District Heating       149
Underfloor Heating     127
Floor Heating           24
Gas Heating             10
Wood Pellet Heating      2
CHP Plants               2
Name: heating_type, dtype: int64

In [41]:
df['heating_type']= df['heating_type'].fillna("Missing")
df.head()

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
0,https://www.immobilienscout24.de/expose/116051687,Mitte,first_time_use,4.0,2659.00,2019,117.20,2.200000,+460€,in,...,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B,7977.00,5
1,https://www.immobilienscout24.de/expose/115338103,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,973.510000,"+226,49€",in,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN,2920.53,5
2,https://www.immobilienscout24.de/expose/116458710,Köpenick,well_kept,2.0,979.00,1997,83.61,799.000000,+90€,+90€,...,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN,2937.00,4
3,https://www.immobilienscout24.de/expose/116573177,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,428.261712,NaN,NaN,...,Unknown,NaN,Missing,NaN,NaN,NaN,NaN,NaN,5490.66,13
4,https://www.immobilienscout24.de/expose/115925878,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,531.635875,NaN,NaN,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt zur Besichtigun...,liegt zur Besichtigung vor,NaN,NaN,NaN,6816.00,8

In [42]:
df['heating_type'].isna().sum()

0

In [43]:
df['heating_type'].mode()[0]

'Missing'

In [13]:
# Method 2:
df['heating_type'].fillna(df['heating_type'].mode()[0]).value_counts()

Central Heating        450
District Heating       149
Underfloor Heating     127
Floor Heating           24
Gas Heating             10
Wood Pellet Heating      2
CHP Plants               2
Name: heating_type, dtype: int64

## 2. Clean: `renovated_date`

Please explain why you choose your strategy for filling the missing values.

In [44]:
df['renovated_date']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
759       NaN
760       NaN
761       NaN
762    2017.0
763       NaN
Name: renovated_date, Length: 764, dtype: float64

In [45]:
## code here
df['renovated_date'].describe()

count     195.000000
mean     2018.169231
std         2.990893
min      1995.000000
25%      2019.000000
50%      2019.000000
75%      2019.000000
max      2020.000000
Name: renovated_date, dtype: float64

In [46]:
df['renovated_date'].value_counts()

2019.0    121
2020.0     26
2016.0     13
2017.0     12
2018.0     11
2015.0      4
1995.0      2
2011.0      2
2014.0      1
2012.0      1
2010.0      1
2006.0      1
Name: renovated_date, dtype: int64

In [47]:
df['renovated_date'].isna().sum() / len(df)

0.7447643979057592

In [48]:
df['renovated_date'].isna().sum()

569

In [49]:
df['property_condition'].value_counts()

Unknown                 263
New                     241
Mint Condition          103
Groomed                  65
Refurbished              29
After Renovation         26
Completely Renovated     21
Modernized               13
Needs Renovation          2
Well Maintained           1
Name: property_condition, dtype: int64

In [50]:
df['condition'].value_counts()

first_time_use                        270
mint_condition                        143
no_information                        111
well_kept                              96
refurbished                            40
first_time_use_after_refurbishment     36
fully_renovated                        35
modernized                             29
need_of_renovation                      4
Name: condition, dtype: int64

In [54]:
df_ren = df[df['condition'].isin(['refurbished','first_time_use_after_refurbishment','fully_renovated'])]
df_ren

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
32,https://www.immobilienscout24.de/expose/115830685,Tiergarten,fully_renovated,3.0,2155.00,1990,101.15,504.258499,NaN,NaN,...,Completely Renovated,NaN,District Heating,Fernwärme-Dampf,NaN,"Verbrauchsausweis End­energie­verbrauch 204,3 ...",NaN,NaN,6465.0,9
40,https://www.immobilienscout24.de/expose/114436473,Tiergarten,fully_renovated,4.0,2433.00,1998,120.64,569.309015,NaN,NaN,...,Completely Renovated,NaN,Central Heating,Öl,NaN,"Verbrauchsausweis End­energie­verbrauch 218,2 ...",NaN,NaN,7299.0,9
41,https://www.immobilienscout24.de/expose/115205242,Tiergarten,fully_renovated,4.0,3275.00,1990,156.68,766.332522,NaN,NaN,...,Completely Renovated,NaN,District Heating,Fernwärme-Dampf,NaN,"Verbrauchsausweis End­energie­verbrauch 204,3 ...",NaN,G,9825.0,8
51,https://www.immobilienscout24.de/expose/115759449,Prenzlauer,first_time_use_after_refurbishment,2.0,2724.17,1918,135.68,2.300000,"+434,17€",in,...,After Renovation,Luxus,Central Heating,Gas,NaN,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN,6900.0,4
53,https://www.immobilienscout24.de/expose/113389306,Charlottenburg,fully_renovated,5.0,3195.00,1905,170.00,2.490000,+330€,nicht,...,Completely Renovated,Luxus,Floor Heating,Gas Energieausweis laut Gesetz nicht erforderlich,laut Gesetz nicht erforderlich,NaN,NaN,NaN,6000.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,https://www.immobilienscout24.de/expose/112428115,Tiergarten,fully_renovated,3.0,2555.00,1998,125.46,597.856364,NaN,NaN,...,Completely Renovated,NaN,District Heating,Fernwärme-Dampf,NaN,"Verbrauchsausweis End­energie­verbrauch 204,3 ...",NaN,NaN,7665.0,9
709,https://www.immobilienscout24.de/expose/111459473,Prenzlauer,refurbished,1.0,869.00,1903,30.00,819.000000,+40€,in,...,Refurbished,Luxus,Central Heating,Gas Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN,2000.0,3
719,https://www.immobilienscout24.de/expose/109861401,Tiergarten,refurbished,1.0,660.00,1904,25.00,154.436478,NaN,NaN,...,Unknown,NaN,Missing,NaN,NaN,NaN,NaN,NaN,1980.0,13
744,https://www.immobilienscout24.de/expose/105930730,Prenzlauer,fully_renovated,2.0,1366.00,1996,46.00,319.636710,NaN,NaN,...,Unknown,NaN,Missing,NaN,NaN,NaN,NaN,NaN,4098.0,13
763,https://www.immobilienscout24.de/expose/99320272,Neukölln,fully_renovated,2.0,888.00,1990,68.48,207.787261,NaN,NaN,...,Unknown,NaN,Missing,NaN,NaN,NaN,NaN,NaN,2664.0,13

In [56]:
df_ren['Renovation_age'] = df_ren['renovated_date'] - df_ren['year_construction']
df_ren['Renovation_age'].describe()

C:\Users\elsher\AppData\Local\Temp\ipykernel_19760\2352238263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ren['Renovation_age'] = df_ren['renovated_date'] - df_ren['year_construction']

count     38.000000
mean      89.394737
std       57.562441
min        0.000000
25%       29.000000
50%      113.500000
75%      134.000000
max      155.000000
Name: Renovation_age, dtype: float64

In [60]:
df_ren[df_ren['Renovation_age']==0][['year_construction','renovated_date','condition']]

     year_construction  renovated_date                           condition
78                2015          2015.0                     fully_renovated
156               2016          2016.0                     fully_renovated
223               2019          2019.0  first_time_use_after_refurbishment
386               2020          2020.0  first_time_use_after_refurbishment
526               2019          2019.0                         refurbished

In [68]:
mean_ren_age = round(df_ren['Renovation_age'].mean())

In [69]:
df.loc[(df['condition'].isin(['refurbished','first_time_use_after_refurbishment','fully_renovated']))&(df['renovated_date'].isna()),'renovated_date'] = df['year_construction']+mean_ren_age

In [70]:
df[(df['condition'].isin(['refurbished','first_time_use_after_refurbishment','fully_renovated']))&(df['renovated_date'].isna())]

Empty DataFrame
Columns: [url, region, condition, rooms, rent, year_construction, space, cold_rent, utilities, heating_costs, security_deposit, parking_space, renovated_date, property_condition, furnishing, heating_type, energy_sources, energy_certificate, type_of_certificate, energy_requirement, efficiency_class, deposit_cleaned, n_missing]
Index: []

[0 rows x 23 columns]

In [ ]:
# For the renovated houses we fill th emissing renovated day using the mediam years of renovation for existing data
# We can use for this property condition column or condition column

df_ren = df[df['condition'].isin(['fully_renovated','first_time_use_after_refurbishment','refurbished'])]
df_ren['Renovation_age'] = df_ren['renovated_date'] - df_ren['year_construction']
median_ren_age = df_ren[~df_ren['renovated_date'].isna()]['Renovation_age'].median()
median_ren_age

In [71]:
# For not renovated houses, we can add the year of construction to say that no renovation happened to the house
# df.loc[df['renovated_date'].isna(),'renovated_date'] = df['year_construction']
df.loc[df['renovated_date'].isna(),'renovated_date'] = 2100

In [72]:
df['renovated_date'].isna().sum()

0

## 3. Clean: `parking_space`

Please explain why you choose your strategy for filling the missing values.

In [74]:
## code here
df['parking_space'].isna().sum() / len(df)

0.8821989528795812

In [75]:
df['parking_space'].value_counts()

120€      20
150€      18
100€      14
130€       5
90€        5
350€       5
0€         4
280€       3
75€        2
220€       2
200€       2
119€       1
149€       1
166,6€     1
60€        1
145€       1
180€       1
250€       1
110€       1
70€        1
140€       1
Name: parking_space, dtype: int64

In [76]:
def remove_strings(value, strings_to_remove):
    """
    Remove strings in <strings_to_remove> from <value>. 
    Removes Euro/euro strings by default. 
    Assumes that each string occurs only once.
    """
    
    # return NaN if value is missing
    if pd.isna(value): return np.nan
    
    # cast to string so that string methods work
    value = str(value)
    
    # remove different strings
    for string in strings_to_remove:
        value = value.lower().replace(string, '').strip()
    
    return value

In [77]:
def convert_string_to_float(value):
    """Replace a period with empty stringm and comma with period (decimal point)."""
    return value.replace(".", "").replace(",", ".")


def convert_decimal(value):
    """Convert numeric string to a decimal number."""
    
    # return NaN if missing
    if pd.isna(value):
        return np.nan       
    
    # check if wrong format w/o decimal i.e. 3.500
    if len(value.split('.')[-1]) == 3:
        return convert_string_to_float(value)
    
    # convert to float
    try:                               
        return float(value)
    except:
        return convert_string_to_float(value)

In [78]:
df['parking_space'] = df.parking_space.apply(remove_strings, args=(['€'],)).astype(str)

In [79]:
df['parking_space'].value_counts()

nan      674
120       20
150       18
100       14
130        5
90         5
350        5
0          4
280        3
200        2
75         2
220        2
119        1
149        1
250        1
145        1
180        1
110        1
70         1
140        1
166,6      1
60         1
Name: parking_space, dtype: int64

In [80]:
df['parking_space'] = df.parking_space.apply(convert_decimal)
df['parking_space'] = df['parking_space'].astype(float)

In [81]:
df['parking_space'].describe()

count     90.000000
mean     139.662222
std       71.774795
min        0.000000
25%      100.000000
50%      120.000000
75%      150.000000
max      350.000000
Name: parking_space, dtype: float64

In [83]:
(df['parking_space']/df['rent']).mean()

0.0718282746188459

In [84]:
def fill_missing_parking_space(row):
    park_per_rent=(df['parking_space']/df['rent']).mean()
    # if the value isn't missing, return the value
    if not pd.isna(row.parking_space):
        return float(row.parking_space)
    else:
        return row.rent * park_per_rent

In [85]:
# Fill with percentage from rent

df.apply(fill_missing_parking_space, axis=1).describe()

count     764.000000
mean      125.153404
std        79.824642
min         0.000000
25%        74.036994
50%       111.333826
75%       151.263702
max      1020.464298
dtype: float64

In [86]:
# fill missing values by mean 
df['parking_space'].fillna(df['parking_space'].mean()).describe()

count    764.000000
mean     139.662222
std       24.513465
min        0.000000
25%      139.662222
50%      139.662222
75%      139.662222
max      350.000000
Name: parking_space, dtype: float64

In [87]:
# fill missing values by median 
df['parking_space'].fillna(df['parking_space'].median()).describe()

count    764.000000
mean     122.316230
std       25.320741
min        0.000000
25%      120.000000
50%      120.000000
75%      120.000000
max      350.000000
Name: parking_space, dtype: float64

## 4. Clean: `utilities`

Please explain why you choose your strategy for filling the missing values.

In [88]:
## code here
df['utilities'].isna().sum() / len(df)

0.4424083769633508

In [89]:
df['utilities'].value_counts()

+250€       16
+200€       14
+120€       10
keine        9
+350€        7
            ..
+225,98€     1
+245,30€     1
+217,19€     1
+127,04€     1
+130,80€     1
Name: utilities, Length: 261, dtype: int64

In [90]:
df['utilities'] = df.utilities.apply(remove_strings, args=(['+','€'],)).astype(str)
df['utilities'] = df.utilities.apply(convert_decimal)

In [91]:
# Are there other categrical features that should be dealt with
df['utilities'].unique()

array(['460', '226.49', 90.0, 'nan', '110', '255', '500', '250', '750',
       '133.30', '225.84', '164.09', '170', '98.38', '380', '294',
       '453.60', '235', 'keine', '150', '120', 40.0, '426.84', '225',
       '137.04', '164.74', 85.0, '434.17', '253', '330', '322', '320',
       '135', '311.90', '675', '580', '230', '300', '645', '200',
       '151.71', '180', '400', '190', 0.0, '174', '212', '270', '378.10',
       '477', '579', '265', '160', 65.0, '315.21', '232.40', '165', 91.0,
       '307', '97.76', '111.75', '545', '130.80', '256', '284', '258.88',
       '189', '233', '280', 80.0, 60.0, 70.0, '145', '100', '227.73',
       '195', '163', '80.07', '201', 68.0, '209', '222', '247', '242.10',
       '298.14', '240', '157.84', '211.75', '214.20', '415', '350',
       '127.04', '290', '274.65', '550', '760', '198', '345.30', '312.32',
       '224.34', '352.80', '351.90', '169.26', '180.30', '277', '183',
       '600', 75.0, '140', '392.15', '262.16', '304', '328', '205',
       '408.86', '130', '200.13', '560', '249', '410', '356', '1026.50',
       '210', 93.0, '295', '121', '310', '408', '370', '113.06', '125',
       '275', 1.0, '185', '194.42', '296', '454', '115.88', '162',
       '66.47', '158', '80.52', '213', '149', '153', '570', '394.49',
       '289.10', '372.26', '133.62', '230.05', '131.10', '191', '121.49',
       '393', '263', '217.19', '559', '586', '204.76', '136.05', '118.86',
       '336.81', '120.32', '215', '191.92', '129.46', '180.94', '178.38',
       '167.56', '227', '154.40', '143.64', '231.40', '164.30', '147.75',
       '174.86', '225.98', '266.84', '103.44', '700', '175', '176.60',
       '201.30', '147', '450', '140.90', '245.66', '190.68', '198.88',
       '205.74', '133.20', '129.56', '132.62', '167.94', '395.76',
       '331.20', '196.08', '182.08', '61.40', '200.98', '197.40',
       '132.76', '193.46', '192.52', '130.70', '193.86', '193.94',
       '238.88', '172.12', '184.10', '214.52', '153.14', '163.92',
       '169.62', '874.80', '163.34', '242.72', '178.60', '169.96', '470',
       '150.54', '922.50', '224.62', '196.12', '203.04', '201.96',
       '163.30', '213.28', '196.04', '259.34', '163.90', '510', '163.44',
       '184.84', '185.12', '187.94', '244.58', '242.30', '214', '248.32',
       '171.40', '203.38', '163.14', '195.74', '173', '169.36', '222.98',
       '208.26', '245.30', '390', '217.16', '217.72', '123', '132', '220',
       '128', '362.60', '204.71', '168', '254', 63.0], dtype=object)

In [92]:
# Replacing the Keine value with zero
df['utilities'] = df['utilities'].replace({'keine':0})

In [93]:
df['utilities'] = df['utilities'].astype('float')
df['utilities'].describe()

count     426.000000
mean      223.436385
std       143.383791
min         0.000000
25%       135.000000
50%       200.000000
75%       262.790000
max      1026.500000
Name: utilities, dtype: float64

In [94]:
def fill_missing_utilities(row):
    uti_per_rent=(df['utilities']/df['rent']).mean()
    # if the value isn't missing, return the value
    if not pd.isna(row.utilities):
        return float(row.utilities)
    else:
        return row.rent * uti_per_rent

In [95]:
df.apply(fill_missing_utilities, axis=1).describe()

count     764.000000
mean      217.241590
std       145.876086
min         0.000000
25%       129.913677
50%       190.000000
75%       263.026047
max      1797.077495
dtype: float64

## 5. Clean: `energy_requirement`

Please explain why you choose your strategy for filling the missing values.

In [96]:
## code here
df['energy_requirement'].isna().sum() / len(df)

0.5732984293193717

In [97]:
df['energy_requirement'].value_counts()

66,2 kWh/(m²*a)     26
61 kWh/(m²*a)       21
75,9 kWh/(m²*a)     20
74,6 kWh/(m²*a)     15
30 kWh/(m²*a)       13
                    ..
151,8 kWh/(m²*a)     1
59,1 kWh/(m²*a)      1
118,2 kWh/(m²*a)     1
42,6 kWh/(m²*a)      1
128,1 kWh/(m²*a)     1
Name: energy_requirement, Length: 113, dtype: int64

In [102]:
df['energy_requirement'].str.split(' ', expand=True)[0].value_counts()

66,2     26
61       21
75,9     20
74,6     15
30       13
         ..
237,7     1
22,8      1
44,5      1
47        1
82,4      1
Name: 0, Length: 113, dtype: int64

In [100]:
# Split the measuring unit and makeing sure it's the same unit for all rows
df['energy_requirement'].str.split(' ', expand=True)[1].value_counts()

kWh/(m²*a)    326
Name: 1, dtype: int64

In [103]:
# Taking the first part of the split to be the energy requirement and converting it to decimals
df['energy_requirement'] = df['energy_requirement'].str.split(' ', expand=True)[0]
df['energy_requirement'] = df.energy_requirement.apply(convert_decimal)
df['energy_requirement'].value_counts()

66.2     26
61.0     21
75.9     20
74.6     15
30.0     13
         ..
67.0      1
44.5      1
128.1     1
62.8      1
102       1
Name: energy_requirement, Length: 113, dtype: int64

In [104]:
df['energy_requirement'] = df['energy_requirement'].astype(float)
df['energy_requirement'].describe()

count    326.000000
mean      79.230215
std       45.581363
min       16.300000
25%       59.825000
50%       66.200000
75%       79.000000
max      239.200000
Name: energy_requirement, dtype: float64

In [105]:
df['energy_requirement'].isna().sum()

438

In [106]:
(df['energy_requirement']/df['rent']).mean()

0.05575851554421179

In [107]:
def fill_missing_energy_requirement(row):
    enreq_per_rent=(df['energy_requirement']/df['rent']).mean()
    # if the value isn't missing, return the value
    if not pd.isna(row.energy_requirement):
        return float(row.energy_requirement)
    else:
        return row.rent * enreq_per_rent

In [108]:
df.apply(fill_missing_energy_requirement, axis=1).describe()

count    764.000000
mean      88.171051
std       57.017383
min       15.124497
25%       55.479723
50%       74.600000
75%      104.611617
max      792.161230
dtype: float64

## (Bonus) Clean: `type_of_certificate`

Hint: could two features be created from this data?

As with before, explain why you chose your strategy :)

In [109]:
## code here
df['type_of_certificate'].value_counts()

Bedarfsausweis                                                                                            336
Verbrauchsausweis Energie­ver­brauchs­kennwert 98,5 kWh/(m²*a)                                              8
Verbrauchsausweis End­energie­verbrauch 204,3 kWh/(m²*a)                                                    7
Verbrauchsausweis Energie­ver­brauchs­kennwert 92 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten      5
Verbrauchsausweis End­energie­verbrauch 78,34 kWh/(m²*a)                                                    4
                                                                                                         ...
Verbrauchsausweis End­energie­verbrauch 97,4 kWh/(m²*a)                                                     1
Verbrauchsausweis Energie­ver­brauchs­kennwert 81,9 kWh/(m²*a)                                              1
Verbrauchsausweis Energie­ver­brauchs­kennwert 128 kWh/(m²*a)                                               1
Verbrauchsausweis Energie­ver­brauchs­kennwert 109 kWh/(m²*a)                                               1
Verbrauchsausweis End­energie­verbrauch 105,1 kWh/(m²*a)                                                    1
Name: type_of_certificate, Length: 85, dtype: int64

In [110]:
df['type_of_certificate'].isna().sum() / len(df)

0.3887434554973822

In [112]:
# First we need to fill the missing values
# we can assume that missing means no ceriticate
df['type_of_certificate'] = df['type_of_certificate'].fillna(df['type_of_certificate'].mode()[0])
df['type_of_certificate'].isna().sum()

0

In [115]:
df.loc[df['type_of_certificate'].str.startswith('Bedarfsausweis'),'Has_Certificate'] = 'No'
df.loc[~df['type_of_certificate'].str.startswith('Bedarfsausweis'),'Has_Certificate'] = 'Yes'
df['Has_Certificate'].value_counts()

No     633
Yes    131
Name: Has_Certificate, dtype: int64

In [ ]:
# We can create 2 fetaures: one the tells whether there's a certificat or not, 
# and the other gives the amount if there's a certificate
df.loc[df['type_of_certificate'].str.startswith('Bedarfsausweis'),'Has_Certificate'] = 'No'
df.loc[~df['type_of_certificate'].str.startswith('Bedarfsausweis'),'Has_Certificate'] = 'Yes'
df['Has_Certificate'].value_counts()

In [117]:
df['type_of_certificate'].str.split(' ', expand=True)[2].value_counts()

98,5     8
204,3    7
92       5
146,8    4
120,8    4
        ..
144,4    1
64       1
144      1
80       1
97,4     1
Name: 2, Length: 78, dtype: int64

In [118]:
df['Certificate_Amount'] = df['type_of_certificate'].str.split(' ', expand=True)[2]
df['Certificate_Amount']= df.Certificate_Amount.apply(convert_decimal)
df['Certificate_Amount'] = df['Certificate_Amount'].astype(float)
df['Certificate_Amount'].describe()

count    129.000000
mean     126.936822
std       42.823111
min       53.000000
25%       98.500000
50%      120.800000
75%      146.800000
max      219.500000
Name: Certificate_Amount, dtype: float64

In [119]:
# Null values represent mainly houses without ceritficates
df['Certificate_Amount'].isna().sum()

635

In [120]:
# In this case, null values can be replaced by 0 to show that there's no certificate
df['Certificate_Amount'].fillna(0).describe()

count    764.000000
mean      21.433050
std       50.713613
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      219.500000
Name: Certificate_Amount, dtype: float64

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3>
<h3><input type="checkbox"> 2. Does all code run through? <br></h3>
<h3><input type="checkbox"> 3. Are explanations of fill strategy provided for all relevant questions?  <br></h3>
<h3><input type="checkbox"> 4. Are different strategies used for continuous vs categorical data?  <br></h3>
<h3><input type="checkbox"> 5. Is the bonus question answered?  <br></h3>